---
title: Tags
summary: Things I blog about
date: 2024-03-26T00:00:00AM
draft: false
images: []
authors: ['Sri Panyam']
location: "BodyView"
params: "{{ .GetTagPage }}"
---

{{# include "PostList.html" #}}

{{ $siteMetadata := (json "SiteMetadata.json" "") }}

{{ if eq .Res.ParamName "" }}

  {{ $posts := (PagesByDate $siteMetadata.HideDrafts true 0 -1) }}
  {{ $tagmap := AllTags $posts }}
  {{ $sortedTags := KeysForTagMap $tagmap "-count" }}
  {{ range $sortedTags }}{{ $t := $.Res.AddParam (Slugify . )  }}{{ end }}

{{ else }}

  {{ $currTag := .Res.ParamName }}
  {{ $posts := (PagesByTag $currTag $siteMetadata.HideDrafts true 0 -1) }}
  {{ $title := Join " " "Posts for" $currTag }}
  {{ template "PostList" dict
        "Title" $currTag
        "Site" .Context
        "PageNum" 0
        "PageSize" 100
        "NumPages" -1
        "FilteredPosts" $posts }}

{{ end }}

