---
title: Projects
summary: My key projects
date: 2024-03-26T00:00:00AM
draft: false
images: []
authors: ['Sri Panyam']
location: "BodyView"
---

{{ $siteMetadata := (json "SiteMetadata.json" "") }}
{{ $projects := json "ProjectsData.json" "" }}

<div class="divide-y divide-gray-200 dark:divide-gray-700">
  <div class="space-y-2 pb-8 pt-6 md:space-y-5">
    <h1 class="text-3xl font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl sm:leading-10 md:text-6xl md:leading-14">
      Projects
    </h1>
    <p class="text-lg leading-7 text-gray-500 dark:text-gray-400">
      Showcase your projects with a hero image (16 x 9)
    </p>
  </div>
  <div class="container py-12">
    <div class="-m-4 flex flex-wrap">
      {{ range $projects }}
        {{ template "Card" dict "Card" . "Site" $.Context }}
      {{ end }}
    </div>
  </div>
</div>
