
{{ define "AuthorLayout" }}
  {{ $fm := .FrontMatter }}
  <div class="divide-y">
    <div class="space-y-2 pb-8 pt-6 md:space-y-5">
      <h1 class="text-3xl font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl sm:leading-10 md:text-6xl md:leading-14">
        About
      </h1>
    </div>
    <div class="items-start space-y-2 xl:grid xl:grid-cols-3 xl:gap-x-8 xl:space-y-0">
      <div class="flex flex-col items-center pt-8">
        <img
          src={{$fm.avatar}}
          alt="avatar"
          width="192"
          height="192"
          class="h-48 w-48 rounded-full"
        />
        <h3 class="pb-2 pt-4 text-2xl font-bold leading-8 tracking-tight">{{$fm.name}}</h3>
        <div class="text-gray-500 dark:text-gray-400">{{$fm.occupation}}</div>
        <div class="text-gray-500 dark:text-gray-400">{{$fm.company}}</div>
        <div class="flex space-x-3 pt-6">
          <SocialIcon kind="mail" href="mailto:{{$fm.email}}" />
          <SocialIcon kind="github" href={{$fm.github}} />
          <SocialIcon kind="linkedin" href={{$fm.linkedin}} />
          <SocialIcon kind="twitter" href={{$fm.twitter}} />
        </div>
      </div>
      <div class="max-w-none pb-8 pt-8 xl:col-span-2 prose prose-dark">
        {{ .Content | HTML }}
      </div>
    </div>
  </div>
{{ end }}
