{{# include "./Header.html" #}}
{{# include "./Footer.html" #}}
{{# include "./CommonPageHeader.html" #}}
{{# include "./PostSimple.html" #}}

<html lang="en" class="scroll-smooth">
  <head>
    {{ template "CommonPageHeader" dict "Site" .Site }}
    <title>{{.FrontMatter.Title}}</title>
<!-- KaTeX for math rendering -->
<!--
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/contrib/auto-render.min.js"
        onload="renderMathInElement(document.body);"></script>
-->
  </head>
  <body class="bg-white text-black antialiased dark:bg-gray-900 dark:text-white">
    <!-- Section Container -->
    <div id="__next">
    <script>
      if (localStorage.getItem('dark-mode') === 'true' || (!('dark-mode' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
          document.querySelector('html').classList.add('dark');
          document.querySelector('html').style.setProperty("color-scheme", "dark")
      } else {
          document.querySelector('html').classList.remove('dark');
          document.querySelector('html').style.setProperty("color-scheme", "light")
      }
    </script>
    <div class="mx-auto max-w-3xl px-4 sm:px-6 xl:max-w-5xl xl:px-0">
       <!-- Layout wrapper -->
      <div class="flex h-screen flex-col justify-between">
        {{ template "Header" . }}
        <main class="mb-auto">
          {{ template "PostSimple" . }}
        </main>
        {{ template "Footer" . }}
      </div>
    </div>
    </div>
  <script type="module">
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
    const isDark = localStorage.getItem('dark-mode') === 'true' ||
      (!('dark-mode' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches);
    mermaid.initialize({
      startOnLoad: true,
      theme: 'neutral' // isDark ? 'dark' : 'light'
    });
  </script>
  </body>
</html>
