{{# include "./Header.html" #}}
{{# include "./Footer.html" #}}
{{# include "./CommonPageHeader.html" #}}

<html lang="en" class="scroll-smooth">
  <head>
    {{/* RenderView .PageSEO */}}
    {{ template "CommonPageHeader" dict "Site" .Site }}
    <title>{{.FrontMatter.Title}}</title>
  </head>
  <body class="bg-white text-black antialiased dark:bg-gray-900 dark:text-white">
    <!-- Section Container -->
    <div id="__next">
    <script>
      if (localStorage.getItem('dark-mode') === 'true' || (!('dark-mode' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
          document.querySelector('html').classList.add('dark');
          document.querySelector('html').style.setProperty("color-scheme", "dark")
      } else {
          document.querySelector('html').classList.remove('dark');
          document.querySelector('html').style.setProperty("color-scheme", "light")
      }
    </script>
    <div class="mx-auto max-w-3xl px-4 sm:px-6 xl:max-w-5xl xl:px-0">
       <!-- Layout wrapper -->
      <div class="flex h-screen flex-col justify-between">
        {{ template "Header" . }}
        <main class="mb-auto">
          {{ HtmlTemplate .BodyTemplateName . }}
        </main>
        {{ template "Footer" . }}
      </div>
    </div>
    </div>
  </body>
</html>
