<html lang="en" class="scroll-smooth">
  <head>
    {{/* RenderView .PageSEO */}}
    {{ template "CommonPageHeader" dict "Site" .Site }}
    <title>{{.Page.Title}}</title>
  </head>
  <body class="bg-white text-black antialiased dark:bg-gray-900 dark:text-white">
    <!-- Section Container -->
    <div id="__next">
    <script>
    if (localStorage.getItem('dark-mode') === 'true' || (!('dark-mode' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.querySelector('html').classList.add('dark');
    } else { document.querySelector('html').classList.remove('dark'); }
    </script>
    <div class="mx-auto max-w-3xl px-4 sm:px-6 xl:max-w-5xl xl:px-0">
       <!-- Layout wrapper -->
      <div class="flex h-screen flex-col justify-between">
        {{ RenderView .HeaderView }}
        <main class="mb-auto"> {{ RenderView .BodyView }} </main>
        {{ RenderView .FooterView }}
      </div>
    </div>
    </div>
    {{/*
    <script>
      const lightSwitches = document.querySelectorAll('.light-switch');
      if (lightSwitches.length > 0) {
        lightSwitches.forEach((lightSwitch, i) => {
          if (localStorage.getItem('dark-mode') === 'true') {
            lightSwitch.checked = true;
          }
          lightSwitch.addEventListener('change', () => {
            const { checked } = lightSwitch;
            lightSwitches.forEach((el, n) => {
              if (n !== i) {
                el.checked = checked;
              }
            });
            if (lightSwitch.checked) {
              document.documentElement.classList.add('dark');
              localStorage.setItem('dark-mode', true);
            } else {
              document.documentElement.classList.remove('dark');
              localStorage.setItem('dark-mode', false);
            }
          });
        });
      }
    </script>
    */}}
  </body>
</html>
