{{# include "./PostDetail.html" #}}
{{# include "./Pagination.html" #}}

{{ define "PostList" }}
  <div class="divide-y">
    <div class="space-y-2 pb-8 pt-6 md:space-y-5">
      {{ if .Title }}
      <h1 class="text-3xl font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl sm:leading-10 md:text-6xl md:leading-14">
        {{.Title}}
      </h1>
      {{ end }}
    </div>
    <ul>
      {{ if not .FilteredPosts }}No post found{{ end }}
      {{ range $index, $post := .FilteredPosts }}
        {{ if or (eq $post.RelPath "/index.html") (eq $post.RelPath "/projects.html")  (eq $post.RelPath "/tags.html") }}
        {{ else }}
          {{ if lt $index $.PageSize }}
            {{ template "PostDetail" . }}
          {{ end }}
        {{ end }}
      {{ end }}
    </ul>
  </div>
  {{ template "Pagination" dict "Site" .Site "PageNum" .PageNum "NumPages" .NumPages }}
{{ end }}
